h1 {
  color:black;
  font-style: oblique;
}
body {
  background-color: #C0C0C0;
}
.test-box{
  border: 2px solid black;
  border-right: 4px solid black;
  border-top: 6px solid black;
  border-bottom: 8px solid black;
  padding: 6px;
  margin: 20px;
  background-color: blue;
}
